<div class="finder-body-sidebar media-object module js-finder-body-sidebar">
  <ul class="block-list">
    {{#each this.steps}}
      <li {{#unless @index}}class="active"{{/unless}} data-id="{{@index}}">
        <a class="btn btn-inverse {{#if @index}}disabled{{/if}}" href="#step-{{@index}}">
          {{this.title}}
        </a>
        <i class="wmicon wmicon-14 wmicon-angle-right"></i>
      </li>
    {{/each}}
  </ul>
</div>
<div class="finder-body-main media-body js-finder-body-main">
  <div class="spinner-backdrop hide-content js-spinner-backdrop">
    <div class="spinner"></div>
  </div>
  {{#each this.steps}}
    <div class="finder-car-{{this.name}} finder-car-content js-finder-car-{{this.name}} js-finder-car-content" id="step-{{@index}}"></div>
  {{/each}}
</div>
